# Python sanal ortamı
venv/
env/
.env

# Derlenmiş dosyalar ve cache
__pycache__/
*.py[cod]
*$py.class

# Mediapipe ve ve diğer paketler
*.whl

# Veritabanı loglar
turnike.db
*.db-journal

# InsightFace modelleri 
.insightface/
models/

# VS Code özel ayarları
.vscode/
.history/
